@font-face{
    font-family: Lemon;
    src: url("LEMONMILK-Regular.otf");
}
@font-face{
    font-family: cinzel;
    src: url(CinzelDecorative-Regular.otf);
}
@font-face{
    font-family: deartone;
    src: url(Deartone.ttf);
}
@font-face{
    font-family: mon;
    src: url(Mom«t___.ttf);
}
@font-face{
    font-family: oldnews;
    src: url(OldNewspaperTypes.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.menu{
    position: fixed;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    width: 210px;
    padding: 210px 18px;
    background: rgba(4, 1, 38, 0.78);
    border: 1px solid rgba(141,191,255,0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    backdrop-filter: blur(12px);
    box-shadow:
    0 0 25px rgba(77,166,255,0.18),
    inset 0 0 18px rgba(255,255,255,0.04);
    z-index: 100;
}

.menu a{
    text-decoration: none;
    color: #F5F5F5;
    font-family: Lemon;
    font-size: 13px;
    letter-spacing: 2px;
    padding: 14px 18px;
    border-radius: 22px;
    transition: 0.3s ease;
}

.menu a:hover,
.menu a.activo{
    background: linear-gradient(135deg, #0B1F3A, #1E5F99);
    color: white;
    box-shadow: 0 0 18px rgba(77,166,255,0.35);
    transform: translateX(-8px);
}
.contacto{
    min-height: 100vh;
    padding: 35px 260px 100px 80px;
    background:
    linear-gradient(
    135deg,
    #020617,
    #061428,
    #0B1F3A,
    #123A5C);
    color: white;
}

.contacto h2{
    text-align: center;
    font-size: 55px;
    color: white;
    margin-bottom: 15px;
    font-family: Cinzel;
}

.texto-contacto{
    text-align: center;
    color: #F5F5F5;
    font-size: 18px;
    margin-bottom: 50px;
    font-family: Caviar;
}

.contenedor-contacto{
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 35px;
    align-items: center;
}

.info-contacto,
.formulario-contacto{
    background: rgba(255,255,255,0.08);
    border:
    1px solid rgba(184,216,255,0.20);
    border-radius: 30px;
    padding: 35px;
    backdrop-filter: blur(10px);
    box-shadow:
    0 0 20px rgba(77,166,255,0.12);
}

.info-contacto h3{
    color: #8DBFFF;
    font-size: 28px;
    margin-bottom: 25px;
    font-family: Deartone;
}

.info-contacto p{
    color: #F5F5F5;
    font-size: 17px;
    line-height: 1.8;
    font-family: Caviar;
}

.formulario-contacto{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.formulario-contacto input,
.formulario-contacto textarea{
    width: 100%;
    padding: 16px 18px;
    border: 1px solid rgba(184,216,255,0.25);
    border-radius: 18px;
    background: rgba(255,255,255,0.10);
    color: white;
    font-size: 16px;
    font-family: Caviar;
    outline: none;
}

.formulario-contacto textarea{
    height: 150px;
    resize: none;
}

.formulario-contacto input::placeholder,
.formulario-contacto textarea::placeholder{
    color: #B8D8FF;
}

.formulario-contacto input:focus,
.formulario-contacto textarea:focus{
    border: 1px solid #8DBFFF;
    box-shadow:
    0 0 18px rgba(77,166,255,0.35);
}

.formulario-contacto button{
    padding: 16px;
    border: none;
    border-radius: 22px;
    background: #8DBFFF;
    color: #061428;
    font-size: 17px;
    font-weight: bold;
    font-family: Lemon;
    cursor: pointer;
    transition: 0.4s;
}

.formulario-contacto button:hover{
    background: white;
    transform: translateY(-5px);
    box-shadow:
    0 0 25px rgba(77,166,255,0.45);
}
.encabezado-inicio{
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-350%);
    text-align: center;
    background: none;
    border: none;
    z-index: 10;
}

.encabezado-inicio h1{
    color: white;
    font-family: Lemon;
    font-size: 10px;
    letter-spacing: 4px;
    margin: 0;
}

.encabezado-inicio p{
    color: #B8D8FF;
    font-family: cinzel;
    font-size: 6px;
    margin-top: 6px;
}
.footer-inicio{
    position: absolute;

    bottom: 20px;

    left: 50%;

    transform: translateX(-135%);

    text-align: center;

    background: none;

    border: none;

    z-index: 10;
}

.footer-inicio p{
    color: rgba(255,255,255,0.60);

    font-family: cinzel;

    font-size: 12px;

    letter-spacing: 2px;
}